<div class="container">
  <article>
    <h1>2017年 アカデミー賞</h1>
    <ul class="row">
      <li class="col-sm-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            作品賞 ムーンライト
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            監督賞 デミアン・チャゼル
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            主演男優賞 ケイシー・アフレック
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            主演女優賞 エマ・ストーン
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </article>
  <article>
    <h1>2016年　アカデミー賞</h1>
    <ul>
      <li class="col-sm-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            作品賞
          </div>
          <div class="panel-body">
            <ul class="row">
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            監督賞
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            主演男優賞
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="col-sm-4 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            主演女優賞
          </div>
          <div class="panel-body">
            <ul>
              <h5>ノミネート</h4>
              <li class="square">
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </article>
</div>
