// Place all the styles related to the webpages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

footer, h1 {
  text-align: center;
}
body li {
  list-style: none;
}
.square {
  list-style: square;
}
